.content{
    padding: 15px;
    font-size: 18px;
    min-height: 300px;
    background: #f5f7fc;

    margin-bottom: 10px;
    border: 1px solid #CCC;
    
    overflow: auto;
}

.content-headline{
    font-size: 20px;
    padding 20px 0px;
    border-bottom: 1px solid #d9d9d9;
}

.content-text{
    padding: 20px;
    font-size: 14px;
}

.content-headline-text{
    line-height: 50px;
    font-size: 25px;
}

.footer{
    padding: 15px;
    font-size: 12px;
    background: #f5f7fc;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #CCC;
}

#ehcTag{
    color: #fca000;
}

#ehcTag span{
    color: #2862A0;
}

.sponsor{
    box-shadow: inset 0px 10px rgba(0, 0, 0, 0.5);
    width: 200px;
    cursor: pointer;
    margin: 10px 10px;
}

.sponsor:hover{
    width: 190px;
}
#searchReports {
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 8px 8px 0px 0px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: inset 0px 2px 0px rgba(255, 255, 255, 0.3);
    font-size: 16px;
    line-height: 40px;
    padding: 5px;
}

#searchReports span{
    font-size: 22px;
}

#searchReports li{
    list-style: none;
}

.reportTable > tbody > tr > td{
    line-height: 40px;
}

#formWrapperItem {
    padding: 5px;
    width: 100%;
}

#createReport_titleInput {
}

#createReport_contentInput {
}

.titleInput {
    width: 100%;
    border-radius: 6px 6px 6px 6px;
    font-size: 22px;
    border: 1px solid #333;
}

.contentInput {
    width: 100%;
    height: 100%;
}

#reportHeadline {
    font-size: 28px;
    margin-left: 10px;
    margin-top: 10px;
}

#reportDateOcc {
    font-size: 20px;
    margin-left: 5px;
    margin-top: 5px;
    color: dimgray;
    margin-bottom: 15px;
}

#reportDate {
    position: absolute;
    bottom: 10px;
    right: 20px;
}

#titleContentImage{
    background: #002c6c;
    width: 100%;
    height: 120px;
    box-shadow: inset 0px 0px 120px rgba(0, 0, 0, 0.2);
    background-image: url("../images/header.jpg");
    background-repeat: no-repeat;
}

#titleBrand{
    line-height: 120px;
    font-size: 68px;
    color: white;
}

#titleText{
    float: left;
    color: #fca000;
    font-size: 32px;
    line-height: 50px;
    margin-left: 10px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
}

#titleTextSmall{
    float: left;
    color: #fca000;
    font-size: 18px;
    line-height: 50px;
    margin-left: 5px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
}

body{
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGUlEQVQYlWNgGILAtey1lGvZaynqKRyEAACc/QcBhtFpzQAAAABJRU5ErkJggg==) repeat;
}