* {
	margin : 0;
	padding : 0;
}

a {
	text-decoration : none;
	color : #2862a0;
}

a:hover {
	text-decoration : underline;
	color : #2862a0;
}

a.side, #left-side a, #right-side a {
	text-decoration : none;
	color : #777;
	line-height:18px;
}

a:hover.side, #left-side a:hover, #right-side a:hover {
	text-decoration : none;
	color : #2862a0;
}

body {
	background : #eee url(images/body-bg.png) repeat-x;
	color : #444;
	font : normal 62.5% Verdana,sans-serif;
	margin : 0;
}

hr {
	height : 1px;
	border-bottom : 1px solid #999;
	border-top : 1px solid #fff;
}

hr.side-hr {
	height : 2px;
	border-bottom : 1px solid #e5e5e5;
	border-top : 1px solid #eee;
}

.button {
	font : 11px "Lucida Sans Unicode",sans-serif;
	color : #777;
	background : #eee;
	border : 1px solid #999;
	margin-top : 2px;
}

.textbox {
	font-family : "Lucida Sans Unicode",sans-serif;
	font-size : 11px;
	color : #555;
	background : #f9f9f9;
	border : 1px solid #999;
	padding : 3px;
}

.bbcode {
	font-family : "Lucida Sans Unicode",sans-serif;
	font-size : 11px;
	background : #f9f9f9;
	border : 1px solid #eee;
	margin-top : 2px;
}

h1 {
	font-size : 13px;
	margin-bottom : 4px;
}

h2 {
	font-size : 10px;
	margin-bottom : 2px;
}

h1,h2,h3 {
	color : #2862a0;
	padding : 6px 0 0 0;
}

.clearer {
	clear : both;
}

.container {
	background : #f9f9f9;
	border-left : #ccc 1px solid;
	border-right : #ccc 1px solid;
	border-bottom : #ccc 1px solid;
	margin : 0 auto;
	padding : 10px;
	width : 940px;
}

.header {
	height : 150px;
	background : url(images/header.jpg) no-repeat;
	padding : 0 10px 0 10px;
	border-bottom : #ccc 1px solid;	
}

#title {
	font : bold 30px "Trebuchet MS", verdana, arial, sans-serif;
	color : #fff;
	line-height : 28px;
	margin-top : 15px;
}

#title .subtitle {
	font : bold 15px "Trebuchet MS", verdana, arial, sans-serif;
	color : #000;
}

.main {
	clear : both;
	padding : 8px 8px;
}

.sub-header {
	color : #fff;
	font-size : 11px;
	background : #245d9a url(images/sub-header-bg2.png) center center repeat-x;
}

.sub-header li {
	font-size : 11px;
	display : inline;
}

.sub-header li a {
	float : left;
	color : #fff;
	padding : 6px 11px;
	text-decoration : none;
	border-right : 1px solid #ccc;
}

.sub-header li a:hover {
	color : white;
	background : transparent url(images/sub-header-bg.png) center center repeat-x;
}

.side-bg {
	background : #eee;
	border : 1px solid #ccc;
	padding : 0 4px 0 4px;
}

#left-side {
	font-size : 11px;
	width : 180px;
	padding-right: 8px;
}

#right-side {
	font-size : 11px;
	width : 140px;
	padding-left: 8px;	
}

#navigation h2, #left-side h1, #right-side h1 {
	color : #666;
	font-size : 11px;
	height : 20px;
	margin-top : 6px;
}

#navigation ul {
	border-top : 1px solid #fafafa;
	background : url(images/bgul.gif) repeat-x;
	margin : 0;
	padding : 0;
}

#navigation li {
	font-size : 11px;
	border : 1px solid #fafafa;
	border-top : none;
	list-style : none;
	margin : 0;
}

#navigation li a {
	color : #777;
	display : block;
	padding : 3px 6px 3px 4px;
	text-decoration : none;
}

#navigation li a:hover {
	color : #111;
}

#holder {
	width : 100%;
	overflow : auto;
}

#main-content {
	padding : 0 0 0 0;
}

#main-content .item {
	font-size : 12px;
	padding : 0 12px 6px 12px;
	border : 1px solid #ccc;
	background : #fff;
	margin-bottom : 8px;
}

#main-content .descr {
	font-size : 10px;
	color : #333;
	margin-bottom : 6px;
}

#main-content .news-footer {
	font-size : 10px;
	color : #333;
	text-align : right;
	margin-top : 12px;
}

#main-content li {
	list-style : url(img/li.gif);
	margin-left : 18px;
}

#main-content h1 {
	font-size : 13px;
	margin-bottom : 4px;
	border-bottom: 1px solid #ccc;
}

#main-content h2 {
	font-size : 13px;
	margin-bottom : 2px;
}

#footer {
	background : #eee;
	border : 1px solid #ccc;
	color : #999;
	font-size : 10px;
	padding : 6px;
}

#footer a {
	color : #2862a0;
	text-decoration : none;
}

#footer a:hover {
	color : #2862a0;
	text-decoration : underline;
}

.pagenav {
	font-size : 11px;
	padding : 4px;
}

.pagenav span {
	color : #111;
	background : #eee;
	border : 1px solid #ccc;
	padding : 2px 4px;
	margin : 2px;
}

.pagenav a {
	text-decoration : none;
	color : #777;
	background : #eee;
	border : 1px solid #ccc;
	padding : 2px 4px;
	margin : 2px;
}

.pagenav a:hover {
	text-decoration : none;
	background : #eee;
	color : #111;
	margin : 2px;
}

.news-category {
	border:0;
	margin:3px 5px 0 0;
	float:left;
}

.side-border-left {
	padding : 10px 0 10px 0;
	width : 200px;
}

.side-body {
	background : #eee;
	border : 1px solid #ccc;
}

.tbl-border {
	border : 1px solid #eee;
}

.tbl {
	font-size : 11px;
	padding : 4px;
}

.tbl1 {
	font-size : 11px;
	background : #fff;
	padding : 4px;
}

.tbl2 {
	font-size : 11px;
	background : #f1f1f1;
	padding : 4px;
}

.forum-caption {
	font-size : 11px;
	color : #eee;
	background : #50700f url(forum/cap.png);
	padding : 2px 4px 3px;
}

.quote {
	background : url(images/bgcode.gif);
	border : 3px solid #f0f0f0;
/*	border-left : 6px solid #2862a0; */
	color : #555;
	display : block;
	font : normal 11px "Lucida Sans Unicode",serif;
	margin-bottom : 12px;
	padding : 8px 10px;
}

.poll {
	height : 12px;
	border : 1px solid #000;
}

.comment-name {
	color : #3366cc;
}

.shoutboxname {
	color : #777;
}

.shoutbox {
	color : #555;
}

.shoutboxdate {
	font-size : 9px;
	color : #666;
}

.small {
	font-size : 11px;
	font-weight : normal;
}

.small2 {
	font-size : 11px;
	font-weight : normal;
	color : #888;
}

.side-small {
	font-size : 11px;
}

.side-label {
	font-weight : bold;
	color : #666;
	padding : 2px;
}
	
.center {margin : 0 auto;}

.center, *[align="center"] {margin : 0 auto;}

.flleft {float : left !important;}

.flright {float : right !important;}

.clear {clear : both;}

.code {
  background: #eaeaea;
  width: 700px;
  border: 1px solid #808080;
  padding: 8px;
  overflow: auto;
  height: auto;
}

/* SIS NEU */

.ehc {font-weight: bold;
      color: #2862a0;} 

.small {font-size: 10px;}

.spacer {width: 10px;
         text-align: center;}   

.border {border:1px solid #808080;}
/* Halle */         
         
a.halle, a.halle:link, a.halle:visited, a.halle:active { position: relative; text-decoration: none; color: #000000; border-bottom:0px dotted #FFFFFF; }
a.halle:hover 	{ background: transparent; z-index: 100; }
a.halle span { display: none; text-decoration: none; }
a.halle:hover span {display: block; position: absolute; top: -80px; left: -315px; width: 300px; z-index: 100; color: #000000;  border: 2px solid;	border-color: #2862a0; padding: 2px 10px 2px 10px;  background: #f4f4f4; font-family: Verdana, Arial, Helvetica, Sans-serif; font-style: Normal; text-align: left; }
         

/* Tabelle */

.tab-head {color: white;
           background-color: #808080;
           border:1px #808080 solid;          
           width: 470px;   
           font-weight: bold;
           text-align: center;
           vertical-align: middle;
           line-height: 20px}
 
.tab-dunkel {color: black;
             border-top:1px #808080 solid;
             background-color: #e7ebef;           
             width: 470px;   
             font-weight: normal;} 

.tab-hell {color: black;
           border-top:1px #808080 solid;
           background-color: #f4f4f4;  
           width: 470px;
           font-weight: normal;}

.tab-ehc {border-top:0px #ffffff solid;
          border-bottom:0px #ffffff solid;
          background-color: #2862a0;
          font-weight: normal;
          color: white;
          width: 470px;}  

.tab-nr {width: 20px;
         text-align: left;} 

.tab-team {text-align: left;
           width: 230px;}  

.tab-spiele {width: 25px;
             text-align: right;} 

.tab-spieleinsgesammt {width: 27px;
                      text-align: left;} 

.tab-toreplus {width: 30px;
               text-align: right;}  

.tab-toreminus {width: 30px;
               text-align: left;}  

.tab-diff {width: 34px;
           text-align: right;}  

.tab-toreplus {width: 22px;
            text-align: right;}                                                                                      

.tab-toreminus {width: 22px;
            text-align: left;} 

.tab-punkteplus {width: 26px;
                 text-align: right;} 

.tab-punkteminus {width: 18px;
                  text-align: left;}  
        
/* SpielPlan einer Mannschaft */

.SPM-dunkel {color: black;
            background-color: #e7ebef;           
            font-weight: normal;
            line-height: 22px;
            vertical-align: middle;} 

.SPM-hell {color: black;
          background-color: #f4f4f4;  
          font-weight: normal;
          line-height: 22px;
          vertical-align: middle;}

.SPM-SpielDatum {width: 140px;
                 font-weight: normal;
                 color: #000000;
                 padding: 2px 5px 2px 5px;
                 text-align: left;}                           

.SPM-SpielVon {width: 85px;
               color: #000000;
               padding: 2px 5px 2px 0px;
               text-align: left;}  

.SPM-Heim {text-align: right;
           width: 190px;
           color: #000000;
           padding: 2px 5px 2px 0px;} 
                             
.SPM-Gast {text-align: left;
           width: 220px;
           color: #000000;
           padding: 2px 0px 2px 5px;} 

.SPM-Tore1 {width: 18px;
            text-align: right;}                                                                                      

.SPM-Tore2 {width: 18px;
            text-align: left;} 
            
.SPM-Spielort {width: 55px;
               font-size: 90%;
               text-align: right;
               padding-right: 5px;
               line-height: 18px;
               vertical-align: middle;}            

/* SpielPlan */

.SP-dunkel {color: black;
            background-color: #e7ebef;           
            font-weight: normal;
            line-height: 22px;
            vertical-align: middle;} 

.SP-hell {color: black;
          background-color: #f4f4f4;  
          font-weight: normal;
          line-height: 22px;
          vertical-align: middle;}

.SP-SpielDatum {width: 65px;
                font-weight: normal;
                color: #000000;
                padding: 2px 5px 2px 5px;
                text-align: center;}                           
                                  
.SP-LigaName {width: 145px;
              color: black;
              padding: 2px 5px 2px 5px;}                
           
.SP-SpielVon {width: 85px;
              color: #000000;
              padding: 2px 5px 2px 0px;
              text-align: center;}    
           
.SP-Heim {text-align: right;
          width: 190px;
          color: #000000;
          padding: 2px 5px 2px 0px;}  
         
.SP-Gast {text-align: left;
          width: 220px;
          color: #000000;
          padding: 2px 0px 2px 5px;}  

.SP-Spielort {width: 40px;
              font-size: 90%;
              text-align: right;
              padding-right: 5px;
              line-height: 18px;
              vertical-align: middle;}
         
.SP-Tore1 {width: 18px;
           text-align: right;}                                                                                      

.SP-Tore2 {width: 23px;
           text-align: left;} 
           
           
/* SpielPlan NEU*/

.SPN-SpielDatum {width: 65px;
                 font-weight: bold;
                 font-size: 120%;
                 color: #2862a0;
                 padding: 2px 5px 2px 0px;
                 line-height: 20px;                
                 text-align: left;
                 background: #fff;
                 border-bottom: 2px solid #2862a0;}                           

.SPN-dunkel {color: black;
            background-color: #e7ebef;           
            font-weight: normal;
            line-height: 20px;
            vertical-align: middle;} 

.SPN-hell {color: black;
          background-color: #f4f4f4;  
          font-weight: normal;
          line-height: 20px;
          vertical-align: middle;}
                                  
.SPN-LigaName {width: 145px;
              color: black;
              padding: 2px 5px 2px 5px;}                
           
.SPN-SpielVon {width: 85px;
              color: #000000;
              padding: 2px 5px 2px 0px;
              text-align: center;}    
           
.SPN-Heim {text-align: right;
          width: 190px;
          color: #000000;
          padding: 2px 5px 2px 0px;}  
         
.SPN-Gast {text-align: left;
          width: 220px;
          color: #000000;
          padding: 2px 0px 2px 5px;}  

.SPN-Spielort {width: 40px;
              font-size: 90%;
              text-align: right;
              padding-right: 5px;
              line-height: 18px;
              vertical-align: middle;}
         
.SPN-Tore1 {width: 18px;
           text-align: right;}                                                                                      

.SPN-Tore2 {width: 23px;
           text-align: left;}            

/* SpielPlan Startseite Panels*/

.P-grau {color: black;
         background-color: #f4f4f4;           
         font-weight: normal;
         line-height: 18px;
         vertical-align: middle;} 

.P-hell {color: black;
         background-color: #ffffff;  
         font-weight: normal;
         line-height: 18px;
         vertical-align: middle;}

.P-SpielDatum {width: 108px;
               font-weight: normal;
               color: #000000;
               padding: 2px 5px 2px 5px;
               text-align: left;}                           
                                  
.P-LigaName {width: 118px;
             color: black;
             padding: 2px 5px 2px 5px;}                
           
.P-SpielVon {width: 85px;
             color: #000000;
             padding: 2px 5px 2px 0px;
             text-align: center;}    
           
.P-Heim {text-align: right;
         width: 190px;
         color: #000000;
         padding: 2px 5px 2px 0px;}  
         
.P-Gast {text-align: left;
         width: 220px;
         color: #000000;
         padding: 2px 0px 2px 5px;}  

.P-Spielort {width: 40px;
             font-size: 90%;
             text-align: right;
             padding-right: 5px;
             line-height: 18px;
             vertical-align: middle;}          
          
.P-Tore1 {width: 18px;
          text-align: right;}                                                                                      

.P-Tore2 {width: 23px;
          text-align: left;}


/* Kicker */    
 
.kicker {width: 100%; text-align: left;}  

.kickerimg {border: 1px solid #808080;}
                        
.pubdate {font-weight: normal;
          color: #666;
          text-align: left;}  
          
.title {font-weight: bold;
        color: #000;
        text-align: left;}  
          
.description {font-weight: normal;
              color: #666;
              text-align: justify;}      