.sistable {  
  font-family: Arial ;  
  background-color: #000000;  
  color: white;  
  border-collapse: collapse; 
}  

.sistable th {  
  background-color: #333333;  
  font-weight:bold;  
  padding: 0.5em;  
}  

.sistable td {  
  padding: 0.5em;  
}

.sistable tr.sisrow1 {  
  background-color: #f0ffff;  
  color: #222222; 
}  

.sistable tr.sisrow2 {  
  background-color: #d3d3d3;  
  color: #222222; 
}  

.sistable tr.myteam {  
  background-color: #2f4f4f;  
  font-weight:bold;  
  color: black; 
} 