* {
	margin : 0;
	padding : 0;
}

a {
	text-decoration : none;
	color : #2862a0;
}

a:hover {
	text-decoration : underline;
	color : #2862a0;
}

a.side, #left-side a, #right-side a {
	text-decoration : none;
	color : #777;
	line-height:18px;
}

a:hover.side, #left-side a:hover, #right-side a:hover {
	text-decoration : none;
	color : #2862a0;
}

body {
	background : #eee url(images/body-bg.png) repeat-x;
	color : #444;
	font : normal 62.5% Verdana,sans-serif;
	margin : 0;
}


hr {
	height : 1px;
	border-bottom : 1px solid #999;
	border-top : 1px solid #fff;
}

hr.side-hr {
	height : 2px;
	border-bottom : 1px solid #e5e5e5;
	border-top : 1px solid #eee;
}

.button {
	font : 11px "Lucida Sans Unicode",sans-serif;
	color : #777;
	background : #eee;
	border : 1px solid #999;
	margin-top : 2px;
}

.textbox {
	font-family : "Lucida Sans Unicode",sans-serif;
	font-size : 11px;
	color : #555;
	background : #f9f9f9;
	border : 1px solid #999;
	padding : 3px;
}

.bbcode {
	font-family : "Lucida Sans Unicode",sans-serif;
	font-size : 11px;
	background : #f9f9f9;
	border : 1px solid #eee;
	margin-top : 2px;
}

h1,h2,h3 {
	color : #2862a0;
	padding : 6px 0 0 0;
}

h1 {
	font-size : 13px;
	margin-bottom : 2px;
}

h2 {
	font-size : 10px;
	text-decoration: underline;
	margin-bottom : 2px;
	padding-bottom: 4px;
}

.clearer {
	clear : both;
}

.container {
	background : #eee;
	border-left : #ccc 1px solid;
	border-right : #ccc 1px solid;
	border-bottom : #ccc 1px solid;
	margin : 0 auto;
	padding : 0px;
	width : 940px;
}

.header {
	height : 150px;
	background : url(images/header.jpg) no-repeat;
/*	padding : 0 10px 0 10px;   */
	padding : 0;	
	border-bottom : #ccc 1px solid;	
}

#title {
	font : bold 30px "Trebuchet MS", verdana, arial, sans-serif;
	color : #fff;
	line-height : 28px;
	margin-top : 15px;
}

#title .subtitle {
	font : bold 15px "Trebuchet MS", verdana, arial, sans-serif;
	color : #000;
}

.main {
	clear : both;
	padding : 8px 8px;
}

.sub-header {
	color : #fff;
	font-size : 11px;
	background : #245d9a url(images/sub-header-bg2.png) center center repeat-x;
}

.sub-header li {
	font-size : 11px;
	display : inline;
}

.sub-header li a {
	float : left;
	color : #fff;
	padding : 6px 11px;
	text-decoration : none;
	border-right : 1px solid #ccc;
}

.sub-header li a:hover {
	color : white;
	background : transparent url(images/sub-header-bg.png) center center repeat-x;
}

.side-bg {
	background : #eee;
	border : 0;
	padding : 0;
	padding-top: 4px;
}

#left-side {
	font-size : 11px;
	width : 180px;
	padding-right: 0;
}

#right-side {
	font-size : 11px;
	width : 140px;
	padding-left: 0;	
}

#navigation h2, #left-side h1, #right-side h1 {
	color : #666;
	font-size : 11px;
	height : 20px;
	margin-top : 0;
	padding-left: 6px;
}

#navigation ul {
	border-top : 1px solid #fafafa;
	background : #eee;
	margin : 0;
	padding : 0;
}

#navigation li {
	font-size : 11px;
	border : 0;
	border-top : none;
	list-style : none;
	margin : 0;
}

#navigation li a {
	color : #777;
	display : block;
	padding : 3px 6px 3px 4px;
	text-decoration : none;
	padding-left: 6px;	
}

#navigation li a:hover {
	color : #111;
	background: #dedede;
}

#holder {
	width : 100%;
	overflow : auto;
}

#main-content {
	padding : 0 0 0 0;
	margin: 0;
}

#main-content .item {
	font-size : 12px;
	padding : 0 12px 6px 12px;
	border : 0;
	background : #fff;
	margin-bottom : 0;
	text-align: justify;
}

#main-content .descr {
	font-size : 10px;
	color : #333;
	margin-bottom : 6px;
}

#main-content .news-footer {
	font-size : 10px;
	color : #333;
	text-align : right;
	margin-top : 12px;
}

#main-content li {
	list-style : url(img/li.gif);
	margin-left : 18px;
}

#main-content h1 {
	font-size : 13px;
	margin-bottom : 4px;
	border-bottom: 1px solid #ccc;
}

#main-content h2 {
	font-size : 13px;
	margin-bottom : 2px;
}

#footer {
	background : #333;
	border : 0;
	color : #ccc;
	font-size : 10px;
	padding : 6px;
}

#footer a {
	color : #2862a0;
	text-decoration : none;
}

#footer a:hover {
	color : #2862a0;
	text-decoration : underline;
}

.pagenav {
	font-size : 11px;
	padding : 4px;
}

.pagenav span {
	color : #111;
	background : #eee;
	border : 1px solid #ccc;
	padding : 2px 4px;
	margin : 2px;
}

.pagenav a {
	text-decoration : none;
	color : #777;
	background : #eee;
	border : 1px solid #ccc;
	padding : 2px 4px;
	margin : 2px;
}

.pagenav a:hover {
	text-decoration : none;
	background : #eee;
	color : #111;
	margin : 2px;
}

.news-category {
	border:0;
	margin:3px 5px 0 0;
	float:left;
}

.side-border-left {
	padding : 10px 0 10px 0;
	width : 200px;
}

.side-body {
	background : #eee;
	border : 1px solid #ccc;
}

.tbl-border {
	border : 1px solid #eee;
}

.tbl {
	font-size : 11px;
	padding : 4px;
}

.tbl1 {
	font-size : 11px;
	background : #fff;
	padding : 4px;
}

.tbl2 {
	font-size : 11px;
	background : #f1f1f1;
	padding : 4px;
}

.forum-caption {
	font-size : 11px;
	color : #eee;
	background : #245d9a url(forum/cap2.png);
	padding : 2px 4px 3px;
}

.quote {
	background : url(images/bgcode.gif);
	border : 3px solid #f0f0f0;
/*	border-left : 6px solid #2862a0; */
	color : #555;
	display : block;
	font : normal 11px "Lucida Sans Unicode",serif;
	margin-bottom : 12px;
	padding : 8px 10px;
}

.poll {
	height : 12px;
	border : 1px solid #000;
}

.comment-name {
	color : #3366cc;
}

.shoutboxname {
	color : #777;
}

.shoutbox {
	color : #555;
}

.shoutboxdate {
	font-size : 9px;
	color : #666;
}

.small {
	font-size : 11px;
	font-weight : normal;
}

.small2 {
	font-size : 11px;
	font-weight : normal;
	color : #888;
}

.side-small {
	font-size : 11px;
}

.side-label {
	font-weight : bold;
	color : #666;
	padding : 2px;
}
	
.center {margin : 0 auto;}

.center, *[align="center"] {margin : 0 auto;}

.flleft {float : left !important;}

.flright {float : right !important;}

.clear {clear : both;}

.code {
  background: #eaeaea;
  width: 700px;
  border: 1px solid #808080;
  padding: 8px;
  overflow: auto;
  height: auto;
}   