/* SIS */

.ehc {font-weight: bold;
      color: #2862a0;} 

.small {font-size: 10px;}

.spacer {width: 10px;
         text-align: center;}   

.border {border:1px solid #808080;}
/* Halle */         
         
a.halle, a.halle:link, a.halle:visited, a.halle:active { position: relative; text-decoration: none; color: #000000; border-bottom:0px dotted #FFFFFF; }
a.halle:hover 	{ background: transparent; z-index: 100; }
a.halle span { display: none; text-decoration: none; }
a.halle:hover span {display: block; position: absolute; top: -80px; left: -315px; width: 300px; z-index: 100; color: #000000;  border: 2px solid;	border-color: #fc9f01; padding: 2px 10px 2px 10px;  background: #f4f4f4; font-family: Verdana, Arial, Helvetica, Sans-serif; font-style: Normal; text-align: left; }

/* Info */         
         
a.info, a.info:link, a.info:visited, a.info:active { position: relative; text-decoration: none; color: #000000; border-bottom:0px dotted #FFFFFF; }
a.info:hover 	{ background: transparent; z-index: 100; }
a.info span { display: none; text-decoration: none; }
a.info:hover span {display: block; position: absolute; top: -30px; left: -315px; width: 300px; z-index: 100; color: #000000;  border: 2px solid;	border-color: #fc9f01; padding: 2px 10px 2px 10px;  background: #f4f4f4; font-family: Verdana, Arial, Helvetica, Sans-serif; font-style: Normal; text-align: left; }
  
/* Tabelle */

.tab-head {color: white;
           background-color: #808080;
           border:1px #808080 solid;          
           width: 470px;   
           font-weight: bold;
           text-align: center;
           vertical-align: middle;
           line-height: 20px}
 
.tab-dunkel {color: black;
             border-top:1px #808080 solid;
             background-color: #e7ebef;           
             width: 470px;   
             font-weight: normal;} 

.tab-hell {color: black;
           border-top:1px #808080 solid;
           background-color: #f4f4f4;  
           width: 470px;
           font-weight: normal;}

.tab-ehc {border-top:0px #ffffff solid;
          border-bottom:0px #ffffff solid;
          background-color: #2862a0;
          font-weight: normal;
          color: white;
          width: 470px;}  

.tab-nr {width: 20px;
         text-align: left;} 

.tab-team {text-align: left;
           width: 230px;}  

.tab-spiele {width: 25px;
             text-align: right;} 

.tab-spieleinsgesammt {width: 27px;
                      text-align: left;} 

.tab-toreplus {width: 30px;
               text-align: right;}  

.tab-toreminus {width: 30px;
               text-align: left;}  

.tab-diff {width: 34px;
           text-align: right;}  

.tab-toreplus {width: 22px;
            text-align: right;}                                                                                      

.tab-toreminus {width: 22px;
            text-align: left;} 

.tab-punkteplus {width: 26px;
                 text-align: right;} 

.tab-punkteminus {width: 18px;
                  text-align: left;}  
        
/* SpielPlan einer Mannschaft */

.SPM-head {color: white;
           background-color: #808080;
           border:1px #808080 solid;          
           width: 100%;   
           font-weight: bold;
           text-align: center;
           vertical-align: middle;
           line-height: 20px}

.SPM-dunkel {color: black;
            background-color: #e7ebef;           
            font-weight: normal;
            line-height: 22px;
            vertical-align: middle;} 

.SPM-hell {color: black;
          background-color: #f4f4f4;  
          font-weight: normal;
          line-height: 22px;
          vertical-align: middle;}

.SPM-SpielDatum {width: 140px;
                 font-weight: normal;
                 color: #000000;
                 padding: 2px 5px 2px 5px;
                 text-align: left;}                           

.SPM-SpielVon {width: 85px;
               color: #000000;
               padding: 2px 5px 2px 0px;
               text-align: left;}  

.SPM-Heim {text-align: right;
           width: 190px;
           color: #000000;
           padding: 2px 5px 2px 0px;} 
                             
.SPM-Gast {text-align: left;
           width: 220px;
           color: #000000;
           padding: 2px 0px 2px 5px;} 

.SPM-Tore1 {width: 18px;
            text-align: right;}                                                                                      

.SPM-Tore2 {width: 18px;
            text-align: left;} 
            
.SPM-Spielort {width: 45px;
               font-size: 90%;
               text-align: center;
               padding-right: 5px;
               line-height: 18px;
               vertical-align: middle;}            

/* SpielPlan */

.SP-dunkel {color: black;
            background-color: #e7ebef;           
            font-weight: normal;
            line-height: 22px;
            vertical-align: middle;} 

.SP-hell {color: black;
          background-color: #f4f4f4;  
          font-weight: normal;
          line-height: 22px;
          vertical-align: middle;}

.SP-SpielDatum {width: 127px;
                font-weight: normal;
                color: #000000;
                padding: 2px 5px 2px 5px;
                text-align: left;}                           
                                  
.SP-LigaName {width: 170px;
              color: black;
              padding: 2px 5px 2px 5px;}                
           
.SP-SpielVon {width: 85px;
              color: #000000;
              padding: 2px 5px 2px 0px;
              text-align: center;}    
           
.SP-Heim {text-align: right;
          width: 190px;
          color: #000000;
          padding: 2px 5px 2px 0px;}  
         
.SP-Gast {text-align: left;
          width: 205px;
          color: #000000;
          padding: 2px 0px 2px 5px;}  

.SP-Spielort {width: 40px;
              font-size: 90%;
              text-align: right;
              padding-right: 5px;
              line-height: 18px;
              vertical-align: middle;}
         
.SP-Tore1 {width: 18px;
           text-align: right;}                                                                                      

.SP-Tore2 {width: 23px;
           text-align: left;}
		   
.SP-Tore1 {width: 18px;
           text-align: right;}                                                                                      

.SP-Tore {width: 55px;
           text-align: center;}		   
           
.SP-HZ {width: 45px;
        font-size: 90%;
        text-align: center;
        padding-right: 5px;
        line-height: 18px;
        vertical-align: middle;}

.SP-Inf	{width: 18px;
        text-align: left;
        line-height: 18px;
        vertical-align: middle;}	
           
           
/* SpielPlan NEU*/

.SPN-SpielDatum {width: 65px;
                 font-weight: bold;
                 font-size: 120%;
                 color: #2862a0;
                 padding: 2px 5px 2px 0px;
                 line-height: 20px;                
                 text-align: left;
                 background: #fff;
                 border-bottom: 2px solid #2862a0;}                           

.SPN-dunkel {color: black;
            background-color: #e7ebef;           
            font-weight: normal;
            line-height: 20px;
            vertical-align: middle;} 

.SPN-hell {color: black;
          background-color: #f4f4f4;  
          font-weight: normal;
          line-height: 20px;
          vertical-align: middle;}
                                  
.SPN-LigaName {width: 125px;
              color: black;
              padding: 2px 5px 2px 5px;}                
           
.SPN-SpielVon {width: 85px;
              color: #000000;
              padding: 2px 5px 2px 5px;
              text-align: left;}    
           
.SPN-Heim {text-align: right;
          width: 190px;
          color: #000000;
          padding: 2px 5px 2px 0px;}  
         
.SPN-Gast {text-align: left;
          width: 220px;
          color: #000000;
          padding: 2px 0px 2px 5px;}  

.SPN-Spielort {width: 40px;
              font-size: 90%;
              text-align: right;
              padding-right: 5px;
              line-height: 18px;
              vertical-align: middle;}
         
.SPN-Tore1 {width: 18px;
           text-align: right;}                                                                                      

.SPN-Tore2 {width: 23px;
           text-align: left;}            

/* SpielPlan Startseite Panels*/

.P-grau {color: black;
         background-color: #f4f4f4;           
         font-weight: normal;
         line-height: 18px;
         vertical-align: middle;} 

.P-hell {color: black;
         background-color: #ffffff;  
         font-weight: normal;
         line-height: 18px;
         vertical-align: middle;}

.P-SpielDatum {width: 108px;
               font-weight: normal;
               color: #000000;
               padding: 2px 5px 2px 5px;
               text-align: left;}                           
                                  
.P-LigaName {width: 118px;
             color: black;
             padding: 2px 5px 2px 5px;}                
           
.P-SpielVon {width: 85px;
             color: #000000;
             padding: 2px 5px 2px 0px;
             text-align: center;}    
           
.P-Heim {text-align: right;
         width: 190px;
         color: #000000;
         padding: 2px 5px 2px 0px;}  
         
.P-Gast {text-align: left;
         width: 220px;
         color: #000000;
         padding: 2px 0px 2px 5px;}  

.P-Spielort {width: 40px;
             font-size: 90%;
             text-align: right;
             padding-right: 5px;
             line-height: 18px;
             vertical-align: middle;}          
          
.P-Tore1 {width: 18px;
          text-align: right;}                                                                                      

.P-Tore2 {width: 23px;
          text-align: left;}
          
.P-HZ {width: 45px;
       font-size: 90%;
       text-align: center;
       padding-right: 5px;
       line-height: 18px;
       vertical-align: middle;}          


/* Kicker */    
 
.kicker {width: 100%; text-align: left;}  

.kickerimg {border: 1px solid #808080; margin-right: 8px;}
                        
.pubdate {font-weight: normal;
          color: #666;
          text-align: left;}  
          
.title {font-weight: bold;
        color: #000;
        text-align: left;}  
          
.description {font-weight: normal;
              color: #666;
              text-align: justify;}      